﻿@using OpenIdProvider

@{
    ViewData["Title"] = "Login";
}

@ViewData.HandleErrorMessage()

<div class="explanation">
    <p>
        Log in to view your account history, and change account information.
    </p>
</div>

<div class="login-form">
    <form method="post" action="/account/login/submit">
        <div>
            <table class="position-table">
                <tr>
                    <td class="input-td">
                        <label for="email" class="accessibility-hidden">Email</label>
                        <input class="framed-text-field" type="text" name="email" id="email" value="@ViewData["email"]" maxlength="100" />
                        <span class="form-help">@("name@example.com")</span>
                    </td>
                    <td class="input-td">
                        <label for="password" class="accessibility-hidden">Password</label>
                        <input class="framed-text-field" type="password" name="password" id="password" />
                        <span class="form-help">Password</span>
                    </td>
                    <td></td>
                    <td class="input-td">
                        <input type="submit" class="affiliate-button" value="Sign In" />
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />

        @{ var session = (string)ViewData["session"]; }
           
        @if(session.HasValue())
        {
            <input type="hidden" name="session" value="@session" />
        }

        <br />
        <br />
        <a href="/account/recovery">Forgot your password?</a>
    </form>
</div>