﻿@using OpenIdProvider

@{
    ViewData["Title"] = "Change Password";
}

@ViewData.HandleErrorMessage()

<div class="explanation">
    <p>
        Enter a new password twice to change it.
    </p>
</div>

<div class="reset-form">
    <form method="post" action="/account/password-reset/submit">
        <table class="position-table">
            <tr>
                <td class="input-td">
                    <label for="password" class="accessibility-hidden">Password</label>
                    <input name="password" id="password" type="password" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="password2" class="accessibility-hidden">Re-enter Password</label>
                    <input name="password2" id="password2" type="password" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
        </table>
        <input type="hidden" name="token" value="@ViewData["token"]" />
        <input type="hidden" name="callback" value="@ViewData["callback"]" />
        <input type="hidden" name="authCode" value="@ViewData["authCode"]" />
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
        <input type="submit" class="orange"  value="Change Password" />
    </form>
</div>