﻿@using OpenIdProvider

@{
    ViewData["Title"] = "Account Recovery";
}

@ViewData.HandleErrorMessage()

<div>
    <p>
        Forgotten your account's password?  Enter your email address and we'll send you a recovery link.
    </p>
</div>

<div class="recovery-form">
    <form method="post" action="/account/recovery/submit">
        <table class="position-table">
            <tr>
                <td class="input-td">
                    <label for="email" class="accessibility-hidden">Email</label>
                    <input type="text" name="email" id="email" maxlength="100" />
                    <span class="form-help">@("name@example.com")</span>
                </td>
            </tr>
        </table>
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
        <input type="submit" class="orange" value="Send Recovery Email" />
    </form>
</div>