﻿@using OpenIdProvider

@{
    ViewData["Title"] = "Register";
}

@ViewData.HandleErrorMessage()

<div>
    <p>
        Enter a valid email and solve the CAPTCHA, and we'll send you a link to create an account.
    </p>
</div>

<div class="registration-form">
    <form method="post" action="/account/register/submit" autocomplete="off">
        <table class="position-table">
            <tr>
                <td class="input-td">
                    <label for="email" class="accessibility-hidden">Email</label>
                    <input type="text" name="email" id="email" value="@ViewData["email"]" maxlength="100" />
                    <span class="form-help">@("name@example.com")</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="realname" class="accessibility-hidden">Real Name</label>
                    <input type="text" name="realname" id="realname" value="@ViewData["realname"]" maxlength="100" />
                    <span class="form-help">John Smith (optional)</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="password" class="accessibility-hidden">Password</label>
                    <input type="password" name="password" id="password" value="@ViewData["password"]" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="password2" class="accessibility-hidden">Re-enter Password</label>
                    <input type="password" name="password2" id="password2" value="@ViewData["password2"]" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    @{OpenIdProvider.Helpers.Captcha.Render(this.Output);}
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <input type="submit" class="orange" value="Send Confirmation Email" />
                </td>
            </tr>
        </table>

    <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
    </form>
</div>