﻿@using OpenIdProvider

@{
    ViewData["Title"] = "";
}

<div class="affiliate-form-header">
    <span class="logo-small"></span>
</div>

@ViewData.HandleErrorMessage()

<div class="registration-form">
    <form method="post" action="/affiliate/form/signup/submit">
        <table class="position-table">
            <tr>
                <td class="input-td">
                    <label for="email" class="accessibility-hidden">Email</label>
                    <input type="text" class="signup-text-field" name="email" id="email" value="@ViewData["email"]" maxlength="100" />
                    <span class="form-help">@("name@example.com")</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="realname" class="accessibility-hidden">Real Name</label>
                    <input type="text" class="signup-text-field" name="realname" id="realname" value="@ViewData["realname"]" maxlength="100" />
                    <span class="form-help">John Smith (optional)</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="password" class="accessibility-hidden">Password</label>
                    <input type="password" class="signup-text-field" name="password" id="password" value="@ViewData["password"]" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <label for="password2" class="accessibility-hidden">Re-enter Password</label>
                    <input type="password" class="signup-text-field" name="password2" id="password2" value="@ViewData["password2"]" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    @{OpenIdProvider.Helpers.Captcha.Render(this.Output);}
                </td>
            </tr>
            <tr>
                <td class="input-td">
                    <input type="submit" class="affiliate-button" value="Create @Current.SiteName Account" />
                </td>
            </tr>
        </table>

        <input type="hidden" name="affId" value="@ViewData["affId"]" />
        <input type="hidden" name="background" value="@ViewData["Background"]" />
        <input type="hidden" name="color" value="@ViewData["Color"]" />
        <input type="hidden" id="fkey" name="fkey" value="@Current.XSRFToken.Value" />
    </form>
</div>

<div style="visibility:hidden" >
    <form id="xsrf-recovery" method="post" action="@ViewData["RefreshUrl"]"></form>
</div>

@*
<div class="switch">
    <a href="@(ViewData["SwitchUrl"])">Already have an account?</a>
</div>
*@

@{
    // If the affiliate has provided a callback, call out to the parent IFrame to let it know we've loaded
    var onLoad = ViewData["OnLoad"];
    
    if(onLoad != null)
    {
        <script type="text/javascript">
            if (parent.postMessage) {
                parent.postMessage('@onLoad', '*');
            }
        </script>
    }
}